
@{
    ViewData["Title"] = "VisionCustom";
}

<h1>VisionCustom</h1>

<div class="form-group">

    <label class="form-label">檔案：</label>
    <input id="imgFile" type="file" class="form-control" accept="image/*" />
    <button class="btn btn-success" onclick="analyzeImage()">分析</button>

</div>
<div class="form-group">
    <img id="imgPreview" src="~/images/no_image.jpg" />
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        var endPoint = "https://medsys153-prediction.cognitiveservices.azure.com/customvision/v3.0/Prediction/3deca4e6-5a14-4236-9241-ae464d880936/classify/iterations/Iteration1/image"
        var arrayBuffer;

        $("#imgFile").bind("change", function () {
            var file = this.files[0]
            var allowType = "image.*";
            if (file.type.match(allowType)) {
                //預覽
                var reader = new FileReader();
                reader.onload = function () {
                    arrayBuffer = this.result;
                    var blob = new Blob([arrayBuffer], {
                        type: "image/jpeg"
                    });
                    var urlCreator = window.URL || window.webkitURL;
                    var imageUrl = urlCreator.createObjectURL(blob);
                    $("#imgPreview").attr("src", imageUrl);
                };
                reader.readAsArrayBuffer(this.files[0]);
            }
            else {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "不支援的檔案類型",
                });
            }
        });


        function analyzeImage() {

            // var params = {
            //     // Request parameters
            //     "visualFeatures": "Description,Tags",
            //     // "details": "{string}",
            //     "language": "zh",
            //     "model-version": "latest",
            // };



            $.ajax({
                url: endPoint,
                beforeSend: function (xhrObj) {
                    // Request headers
                    xhrObj.setRequestHeader("Content-Type", "application/octet-stream");
                    xhrObj.setRequestHeader("Prediction-Key", "e3ad82a72ec34d429d41dc5c07f043a2");
                },
                type: "POST",
                // Request body
                data: arrayBuffer,
                processData: false,
            })
                .done(function (data) {
                    // alert(JSON.stringify(data));
                    var tagName = data['predictions'][0]['tagName'];
                    var confidence = data['predictions'][0]['probability'];
                    // alert(`內容：${text}，信心指數：${(confidence * 100).toFixed(2)}%`);
                    Swal.fire({
                        title: "讀取結果",
                        text: `內容：${tagName}，信心指數：${(confidence * 100).toFixed(2)}%`,
                        icon: "success"
                    });

                })
                .fail(function (err) {
                    // alert(err.statusText);
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: `Something ${err.statusText} went wrong!`,
                    });
                });
        };
    </script>
}