
@{
    ViewData["Title"] = "VisionURL";
}

<h1>VisionURL</h1>

<div class="form-group">

    <label class="form-label">網址：</label>
    <input id="imgUrl" type="text" class="form-control" />
    <button class="btn btn-success" onclick="analyzeImage()">分析</button>

</div>
<div class="form-group">
    <img id="imgPreview" src="~/images/no_image.jpg" />
</div>

@section Scripts{
<script type="text/javascript">
        var endPoint = "https://mist153s12.cognitiveservices.azure.com"

    

    function analyzeImage() {

            // console.log("!!!");

        var imgUrl = $("#imgUrl").val();
        $("#imgPreview").attr("src", imgUrl);
        var data = {
            url: imgUrl
        };

        var params = {
            // Request parameters
            "visualFeatures": "Discription,Tags",
            // "details": "{string}",
            "language": "en",
            "model-version": "latest",
        };

            

        $.ajax({
            url: `${endPoint}/vision/v3.2/analyze?${$.param(params)}`,
            beforeSend: function (xhrObj) {
                // Request headers
                xhrObj.setRequestHeader("Content-Type", "application/json");
                    xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "4524cba53d134c5998d2623635cd5eb0");
            },
            type: "POST",
            // Request body
            data: JSON.stringify(data),
        })
            .done(function (data) {
                alert(JSON.stringify(data));
            })
            .fail(function (err) {
                alert(err.statusText);
            });
    };
</script>
}